services:
  rp-sync:
    image: ghcr.io/cubiss/rp-sync:latest
    container_name: rp-sync
    restart: "no"

    network_mode: host
    dns:
      - 10.23.0.1

    environment:
      - RP_SYNC_CONFIG_PATH=/config/config.yaml
      - RP_SYNC_SERVICES_PATH=/config/services
      - RP_SYNC_HEALTH_FILE=/health/rp-sync-health
      - RP_SYNC_POLL_SECONDS=5

    volumes:
      - /volume1/docker/rp-sync/config/config.yaml:/config/config.yaml:ro
      - /volume1/docker/rp-sync/config/services:/config/services:ro
      - /volume1/docker/rp-sync/secrets:/secrets:ro
      - /volume1/docker/rp-sync/certs:/certs:ro
      - /volume1/docker/rp-sync/logs:/logs:rw
      - /volume1/docker/rp-sync/health:/health:rw

    command: ["rp-sync", "daemon"]
